<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q1</title>
    <link rel="stylesheet" href="../styles/style.css" />
</head>
<body>
    <h1>Some Milestones of Internet History</h1>
    <hr>
    <div style="width:40%;float:left">
        <h3>In {{record.year}}:</h3>
        <br/>
        <h3>{{record.title}}</h3>
        <br/>
        <a href="/?milestone={{record.next}}">next</a>
    </div>
    <div>
        <img src="../images/6.jpg" alt="Milestone 5" style="height:500px;width:500px;border:2px solid black;"/>
    </div>
    
</body>
</html>
