<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q3</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: {{colour}};
        }
    </style>
</head>
<body>
    <h1>Assignment 2, Q 3</h1><br/>
    <hr>
    <br/>
    <h3>This is the Index page</h3><br/>
    <p>This page changes the background color according to the parameter passed to the URL</p>
    <br/>
    <p>Type name of the color to change background of this webpage to that color:</p>
    <br/>
    <p>For example: <a href="/yellow">Yellow</a></p>
    <br/>
    <h3>Can't decide which color to choose?</h3><br/>
    <p>Don't worry, I got you! Just type Random in the url box, I will choose a color 4 u.</p>
    <p>Or <a href="/random">Click Here</a></p>
</body>
</html>
